<!DOCTYPE html>
<html>

    <body>

        <form id="create" method="POST" action=/predict>
            <label for="fname">Comprimento da Sépala:</label><br>
            <input type="text" id="fname" name="sepal_length_cm"><br>
            <label for="lname">Largura da Sépala:</label><br>
            <input type="text" id="lname" name="sepal_width_cm"><br>
            <label for="fname">Comprimento da Pétala:</label><br>
            <input type="text" id="fname" name="petal_length_cm"><br>
            <label for="lname">Largura da Pétala:</label><br>
            <input type="text" id="lname" name="petal_width_cm">
            <input type="submit" id="submit-button" value="Procurar">
            <div id=created></div>
        </form>
        </script>

    </body>

</html>
